<%=turbo_stream_from post %>
<%=turbo_frame_tag dom_id(post) do %>
<div>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= post.completed_at? ? l(post.completed_at) : '--' %>
  </p>

  <p>
    <%= link_to post.completed_at? ? "Incomplete this" : "Complete this", completed_post_path(post), method: :patch, data: { turbo_frame: dom_id(post), } %>
  </p>

</div>
<% end %>