<!DOCTYPE html>
<html>
  <head>
    <title>StimulusExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Search for some post</h1>
      <div data-controller="filter">
        <input data-filter-target="input" type="text" placeholder="Search posts..." oninput="this.dataset.action='input->filter#update'" />
      </div>
    </header>
    <%= yield %>
  </body>
</html>
